run = "npx next dev --port 5000"
entrypoint = "app/page.tsx"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npx next start --port 5000"]
build = ["sh", "-c", "npm run build"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
